/* body{
    background-color: rgb(223, 223, 223);
} */


#title{
    background-color: rgb(233, 231, 231);
    margin-bottom: 30px;
}
#footer{
   background-color: rgb(233, 231, 231); 
}
section{
    padding-bottom: 15px;
}

.lead{
    font-size: 1rem;
}






.dropdown-item:active {
    background-color: #6c757d;
    color: white;
}

.dropdown-item {
    color: #212529; 
}


.btn-link:focus, .btn-link:active {
    color: #000 !important;
}


@media (max-width: 450px) {
    .display-4 {
        font-size: calc(1.3rem + 3.0vw);
    }
}





.carousel-control-prev,
.carousel-control-next {
    width: 60px; 
    height: 60px;
    background-color: rgba(0, 0, 0, 0.986);
    top: 50%; 
    transform: translateY(-50%);
    border-radius: 4px; 
    margin: 0 15px;
}

@media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
}